@font-face {
  font-family: 'Quicksand', sans-serif;
  src: url("../fonts/Quicksand-Bold.ttf");
  src: url("../fonts/Quicksand-Light.ttf");
  src: url("../fonts/Quicksand-Medium.ttf");
  src: url("../fonts/Quicksand-Regular.ttf");
  src: url("../fonts/Quicksand-SemiBold.ttf");
}

body {
  font-family: 'Quicksand', sans-serif;
}

.open {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition: .5s ease-in-out;
  z-index: 99999;
}

.popup {
  position: absolute;
  top: calc(50% - 150px);
  left: calc(50% - 300px);
  z-index: 99999;
  transition: 1s ease-in-out;
}

.close {
  display: none;
  border: none;
  color: #fff;
  font-size: 40px;
  background-color: transparent;
  position: relative;
  top: 20%;
  left: 73%;
}

.close:focus {
  outline: none;
}

.big-avatar {
  transform: scale(1.2);
  transition: .5s ease-in-out;
}

.networks {
  position: fixed;
  bottom: 50px;
  left: 50px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  padding: 10px;
}

.networks:focus {
  outline: none;
}

.icons {
  position: fixed;
  left: 35px;
  bottom: calc(50% - 100px);
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 0 2px 2px #ccc;
}

.icons .close-icons {
  border: none;
  color: #fff;
  font-size: 20px;
  background-color: transparent;
  position: relative;
  top: -5px;
  right: -30px;
}

.icons .close-icons:focus {
  outline: none;
}

.infowindow-wraper {
  width: 200px;
  border-radius: 5px;
  border-radius: 5px;
  background-color: rgba(95, 95, 95, 0.7);
  box-shadow: 0 0 1px 10px #e0e4e3;
  /*img {

    }*/
}

.infowindow-wraper .infowindow-title {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  padding: 6px 12px;
}

.infowindow-wraper .infowindow-text {
  font-size: 16px;
  background-color: royalblue;
  text-align: center;
  padding: 4px 10px;
}

.toggle-list {
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 4px 3px #ccc;
  background-color: rgba(223, 211, 211, 0.7);
  padding: 20px;
  width: 100px;
  display: none;
  position: fixed;
  top: 120px;
  right: 3px;
}

.toggle-list li:not(:first-child) {
  margin: 20px 0 0 0;
}

.toggle-list li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #4c4c4c;
  font-size: 16px;
}

.open-media-menu {
  display: block;
}

#header {
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: #fff;
  box-shadow: inset 0 0 3px 3px #ccc;
}

#header .header-wraper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

#header .header-wraper .logo-wraper {
  grid-column: 1/2;
  padding: 30px 0;
}

#header .header-wraper .logo-wraper a {
  color: #4c4c4c;
  font-size: 25px;
}

#header .header-wraper .nav-wraper {
  grid-column: 2/-1;
  justify-self: flex-end;
  align-self: center;
}

#header .header-wraper .nav-wraper .nav-list li {
  display: inline-block;
}

#header .header-wraper .nav-wraper .nav-list li a {
  color: #4c4c4c;
  font-size: 16px;
  text-transform: uppercase;
  padding: 30px 0;
}

#header .header-wraper .nav-wraper .nav-list li:not(:last-child) {
  margin: 0 70px 0 0;
}

#header .header-wraper .nav-wraper #menu-toggle {
  display: none;
  border: none;
  background-color: transparent;
}

#header .header-wraper .nav-wraper #menu-toggle span::before {
  content: '\2807';
  font-size: 2rem;
  color: #4c4c4c;
}

#header .header-wraper .nav-wraper #menu-toggle:focus {
  outline: none;
}

.hero-wraper-sliders {
  position: relative;
}

.hero-wraper-sliders .slide-wraper {
  width: 100%;
  display: none;
}

.hero-wraper-sliders .slide-wraper .slide-content {
  display: grid;
  grid-auto-columns: auto;
  grid-auto-rows: auto;
}

.hero-wraper-sliders .slide-wraper .slide-content img {
  grid-row: 1/3;
  grid-column: 1/2;
  width: 100%;
  height: 540px;
}

.hero-wraper-sliders .slide-wraper .slide-content .title {
  grid-row: 1/2;
  grid-column: 1/2;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700;
  justify-self: center;
  align-self: center;
}

.hero-wraper-sliders .slide-wraper .slide-content .text {
  grid-row: 2/3;
  grid-column: 1/2;
  font-size: 16px;
  justify-self: center;
  align-self: flex-start;
}

.hero-wraper-sliders .btn-slide {
  position: absolute;
  bottom: 50px;
  left: calc(50% - 25px);
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 5px 5px #ccc;
}

.hero-wraper-sliders .btn-slide:focus {
  outline: none;
}

.slide-wraper.active {
  display: block;
}

.work-wraper {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 200px 1fr;
  margin: 0 0 70px 0;
}

.work-wraper .work-content-top {
  grid-row: 1/2;
  grid-column: 1/2;
  display: grid;
  grid-template-columns: auto;
  grid-auto-rows: auto;
}

.work-wraper .work-content-top .work-content-title {
  grid-row: 1/2;
  grid-column: 1/9;
  text-align: center;
  font-size: 30px;
  margin: 50px 0 0 0;
}

.work-wraper .work-content-top .work-content-title h1 {
  padding: 0 0 20px 0;
}

.work-wraper .work-content-top .work-content-title h1::after {
  content: '';
  height: 4px;
  width: 300px;
  display: block;
  background-color: #000;
  margin: 20px auto 0 auto;
}

.work-wraper .work-content-top .work-content-text {
  grid-row: 2/3;
  grid-column: 1/9;
  text-align: center;
  line-height: 20px;
  font-size: 16px;
  margin: 35px 0 0 0;
}

.work-wraper .work-content-body {
  grid-column: 1/2;
  grid-row: 2/3;
  display: grid;
  grid-auto-rows: auto;
  grid-auto-columns: auto;
  row-gap: 50px;
  column-gap: 50px;
  margin: 60px 0 0 0;
}

.work-wraper .work-content-body .pillter {
  grid-column: 1/2;
  grid-row: 1/2;
  align-self: center;
  justify-self: center;
}

.work-wraper .work-content-body .pillter img {
  width: 300px;
  box-shadow: 0 0 4px 1px #ccc;
}

.work-wraper .work-content-body .touchmania {
  grid-column: 2/3;
  grid-row: 1/2;
  align-self: center;
  justify-self: center;
}

.work-wraper .work-content-body .touchmania img {
  width: 300px;
  box-shadow: 0 0 4px 1px #ccc;
}

.work-wraper .work-content-body .locate {
  grid-column: 3/4;
  grid-row: 1/2;
  align-self: center;
  justify-self: center;
}

.work-wraper .work-content-body .locate img {
  width: 300px;
  box-shadow: 0 0 4px 1px #ccc;
}

.work-wraper .work-content-body .umberapp {
  grid-column: 1/2;
  grid-row: 2/3;
  align-self: center;
  justify-self: center;
}

.work-wraper .work-content-body .umberapp img {
  width: 300px;
  box-shadow: 0 0 4px 1px #ccc;
}

.work-wraper .work-content-body .youtube {
  grid-column: 2/3;
  grid-row: 2/3;
  align-self: center;
  justify-self: center;
  box-shadow: 0 0 4px 1px #ccc;
}

.work-wraper .work-content-body .pardio {
  grid-column: 3/4;
  grid-row: 2/3;
  align-self: center;
  justify-self: center;
}

.work-wraper .work-content-body .pardio img {
  width: 300px;
  box-shadow: 0 0 4px 1px #ccc;
}

.work-wraper .work-content-body .banadediki {
  grid-column: 1/2;
  grid-row: 3/4;
  align-self: center;
  justify-self: center;
}

.work-wraper .work-content-body .banadediki img {
  width: 300px;
  box-shadow: 0 0 4px 1px #ccc;
}

.work-wraper .work-content-body .bizcorner {
  grid-column: 2/3;
  grid-row: 3/4;
  align-self: center;
  justify-self: center;
}

.work-wraper .work-content-body .bizcorner img {
  width: 300px;
  box-shadow: 0 0 4px 1px #ccc;
}

.work-wraper .work-content-body .arabul {
  grid-column: 3/4;
  grid-row: 3/4;
  align-self: center;
  justify-self: center;
}

.work-wraper .work-content-body .arabul img {
  width: 300px;
  box-shadow: 0 0 4px 1px #ccc;
}

#team {
  background-color: #f3f3f3;
}

.team-wraper {
  display: grid;
  grid-template-rows: 180px 1fr;
  row-gap: 60px;
}

.team-wraper .team-content-top {
  grid-row: 1/2;
  margin: 50px 0 0 0;
  display: grid;
  grid-auto-rows: auto;
  grid-auto-columns: auto;
  justify-items: center;
}

.team-wraper .team-content-top .team-content-title {
  grid-column: 1/9;
  grid-row: 1/2;
}

.team-wraper .team-content-top .team-content-title h1 {
  text-align: center;
  font-size: 30px;
  padding: 0 38px 20px 38px;
}

.team-wraper .team-content-top .team-content-title h1::after {
  content: '';
  height: 4px;
  width: 180px;
  display: block;
  background-color: #000;
  margin: 20px auto 0 auto;
}

.team-wraper .team-content-top .team-content-text {
  grid-column: 1/9;
  grid-row: 2/3;
  margin: 30px 0 0 0;
}

.team-wraper .team-content-top .team-content-text p {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.team-wraper .team-user-list {
  grid-row: 2/3;
  margin: 30px 0 80px 0;
  display: grid;
  column-gap: 20px;
  grid-auto-columns: auto;
  grid-auto-rows: auto;
}

.team-wraper .team-user-list .lead-developer {
  grid-row: 1/2;
  grid-column: 1/2;
}

.team-wraper .team-user-list .lead-designer {
  grid-row: 1/2;
  grid-column: 2/3;
}

.team-wraper .team-user-list .marketing-director {
  grid-row: 1/2;
  grid-column: 3/4;
}

.team-wraper .team-user-list .business-director {
  grid-row: 1/2;
  grid-column: 4/5;
}

.team-wraper .team-user-list .lead-developer, .team-wraper .team-user-list .lead-designer, .team-wraper .team-user-list .marketing-director, .team-wraper .team-user-list .business-director {
  background-color: #fff;
  box-shadow: 0 0 4px 1px #ccc;
  display: grid;
  grid-auto-rows: auto;
  justify-items: center;
}

.team-wraper .team-user-list .lead-developer .lead-developer-avatar, .team-wraper .team-user-list .lead-developer .lead-designer-avatar, .team-wraper .team-user-list .lead-developer .marketing-director-avatar, .team-wraper .team-user-list .lead-developer .business-director-avatar, .team-wraper .team-user-list .lead-designer .lead-developer-avatar, .team-wraper .team-user-list .lead-designer .lead-designer-avatar, .team-wraper .team-user-list .lead-designer .marketing-director-avatar, .team-wraper .team-user-list .lead-designer .business-director-avatar, .team-wraper .team-user-list .marketing-director .lead-developer-avatar, .team-wraper .team-user-list .marketing-director .lead-designer-avatar, .team-wraper .team-user-list .marketing-director .marketing-director-avatar, .team-wraper .team-user-list .marketing-director .business-director-avatar, .team-wraper .team-user-list .business-director .lead-developer-avatar, .team-wraper .team-user-list .business-director .lead-designer-avatar, .team-wraper .team-user-list .business-director .marketing-director-avatar, .team-wraper .team-user-list .business-director .business-director-avatar {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  background-color: #ededed;
  margin: 20px 0 0 0;
  overflow: hidden;
}

.team-wraper .team-user-list .lead-developer .name-developer, .team-wraper .team-user-list .lead-developer .name-designer, .team-wraper .team-user-list .lead-developer .name-marketing-director, .team-wraper .team-user-list .lead-developer .name-business-director, .team-wraper .team-user-list .lead-designer .name-developer, .team-wraper .team-user-list .lead-designer .name-designer, .team-wraper .team-user-list .lead-designer .name-marketing-director, .team-wraper .team-user-list .lead-designer .name-business-director, .team-wraper .team-user-list .marketing-director .name-developer, .team-wraper .team-user-list .marketing-director .name-designer, .team-wraper .team-user-list .marketing-director .name-marketing-director, .team-wraper .team-user-list .marketing-director .name-business-director, .team-wraper .team-user-list .business-director .name-developer, .team-wraper .team-user-list .business-director .name-designer, .team-wraper .team-user-list .business-director .name-marketing-director, .team-wraper .team-user-list .business-director .name-business-director {
  font-size: 16px;
  font-weight: bold;
  margin: 15px 0 0 0;
}

.team-wraper .team-user-list .lead-developer .job-developer, .team-wraper .team-user-list .lead-developer .job-designer, .team-wraper .team-user-list .lead-developer .job-marketing-director, .team-wraper .team-user-list .lead-developer .job-business-director, .team-wraper .team-user-list .lead-designer .job-developer, .team-wraper .team-user-list .lead-designer .job-designer, .team-wraper .team-user-list .lead-designer .job-marketing-director, .team-wraper .team-user-list .lead-designer .job-business-director, .team-wraper .team-user-list .marketing-director .job-developer, .team-wraper .team-user-list .marketing-director .job-designer, .team-wraper .team-user-list .marketing-director .job-marketing-director, .team-wraper .team-user-list .marketing-director .job-business-director, .team-wraper .team-user-list .business-director .job-developer, .team-wraper .team-user-list .business-director .job-designer, .team-wraper .team-user-list .business-director .job-marketing-director, .team-wraper .team-user-list .business-director .job-business-director {
  font-size: 12px;
  font-style: italic;
  margin: 20px 0 0 0;
}

.team-wraper .team-user-list .lead-developer .list-developer, .team-wraper .team-user-list .lead-developer .list-designer, .team-wraper .team-user-list .lead-developer .list-marketing-director, .team-wraper .team-user-list .lead-developer .list-business-director, .team-wraper .team-user-list .lead-designer .list-developer, .team-wraper .team-user-list .lead-designer .list-designer, .team-wraper .team-user-list .lead-designer .list-marketing-director, .team-wraper .team-user-list .lead-designer .list-business-director, .team-wraper .team-user-list .marketing-director .list-developer, .team-wraper .team-user-list .marketing-director .list-designer, .team-wraper .team-user-list .marketing-director .list-marketing-director, .team-wraper .team-user-list .marketing-director .list-business-director, .team-wraper .team-user-list .business-director .list-developer, .team-wraper .team-user-list .business-director .list-designer, .team-wraper .team-user-list .business-director .list-marketing-director, .team-wraper .team-user-list .business-director .list-business-director {
  display: flex;
  margin: 25px 0 20px 0;
}

.team-wraper .team-user-list .lead-developer .list-developer li:not(:last-child), .team-wraper .team-user-list .lead-developer .list-designer li:not(:last-child), .team-wraper .team-user-list .lead-developer .list-marketing-director li:not(:last-child), .team-wraper .team-user-list .lead-developer .list-business-director li:not(:last-child), .team-wraper .team-user-list .lead-designer .list-developer li:not(:last-child), .team-wraper .team-user-list .lead-designer .list-designer li:not(:last-child), .team-wraper .team-user-list .lead-designer .list-marketing-director li:not(:last-child), .team-wraper .team-user-list .lead-designer .list-business-director li:not(:last-child), .team-wraper .team-user-list .marketing-director .list-developer li:not(:last-child), .team-wraper .team-user-list .marketing-director .list-designer li:not(:last-child), .team-wraper .team-user-list .marketing-director .list-marketing-director li:not(:last-child), .team-wraper .team-user-list .marketing-director .list-business-director li:not(:last-child), .team-wraper .team-user-list .business-director .list-developer li:not(:last-child), .team-wraper .team-user-list .business-director .list-designer li:not(:last-child), .team-wraper .team-user-list .business-director .list-marketing-director li:not(:last-child), .team-wraper .team-user-list .business-director .list-business-director li:not(:last-child) {
  margin: 0 20px 0 0;
}

.contact-wraper {
  display: grid;
  grid-auto-rows: auto;
  grid-auto-columns: auto;
}

.contact-wraper .contact-title {
  grid-row: 1/2;
  grid-column: 1/2;
  margin: 50px 0 0 0;
}

.contact-wraper .contact-title h1 {
  font-size: 30px;
  text-align: center;
}

.contact-wraper .contact-title h1::after {
  content: '';
  height: 4px;
  width: 180px;
  display: block;
  background-color: #000;
  margin: 20px auto 0 auto;
}

.contact-wraper .wraper-map-and-contact {
  grid-row: 2/3;
  grid-column: 1/2;
  margin: 50px 0 75px 0;
  display: grid;
  grid-auto-rows: auto;
  grid-auto-columns: auto;
  column-gap: 40px;
}

.contact-wraper .wraper-map-and-contact .map-wraper {
  grid-row: 1/2;
  grid-column: 1/2;
}

.contact-wraper .wraper-map-and-contact .map-wraper .map-title {
  font-size: 16px;
}

.contact-wraper .wraper-map-and-contact .map-wraper #map {
  margin: 30px 0 0 0;
  height: 325px;
  width: 450px;
  box-shadow: 0 0 4px 1px #ccc;
}

.contact-wraper .wraper-map-and-contact .contact-form-wraper {
  grid-row: 1/2;
  grid-column: 2/3;
}

.contact-wraper .wraper-map-and-contact .contact-form-wraper .form-title {
  font-size: 16px;
}

.contact-wraper .wraper-map-and-contact .contact-form-wraper .form-wraper {
  margin: 30px 0 0 0;
}

.contact-wraper .wraper-map-and-contact .contact-form-wraper .form-wraper textarea {
  height: 220px;
  padding: 25px 270px 0 30px;
  border: none;
  font-size: 16px;
  box-shadow: 0 0 4px 1px #ccc;
  resize: none;
  overflow-y: auto;
}

.contact-wraper .wraper-map-and-contact .contact-form-wraper .form-wraper textarea:focus {
  outline: none;
}

.contact-wraper .wraper-map-and-contact .contact-form-wraper .form-wraper textarea::-webkit-scrollbar {
  width: 30px;
}

.contact-wraper .wraper-map-and-contact .contact-form-wraper .form-wraper textarea::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.contact-wraper .wraper-map-and-contact .contact-form-wraper .form-wraper textarea::-webkit-scrollbar-thumb {
  background-color: #ccc;
}

.contact-wraper .wraper-map-and-contact .contact-form-wraper .form-wraper .input-wraper input[type="email"] {
  height: 60px;
  padding: 0 200px 0 30px;
  border: none;
  box-shadow: 0 0 4px 1px #ccc;
  margin: 15px 0 0 0;
}

.contact-wraper .wraper-map-and-contact .contact-form-wraper .form-wraper .input-wraper input[type="email"]:focus {
  outline: none;
}

.contact-wraper .wraper-map-and-contact .contact-form-wraper .form-wraper .input-wraper .btn-form-send {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  background-color: #6995a9;
  padding: 19px 45px;
  border: 2px solid #fff;
  box-shadow: 0 0 4px 1px #ccc;
  margin: 15px 0 0 15px;
}

.contact-wraper .wraper-map-and-contact .contact-form-wraper .form-wraper .input-wraper .btn-form-send img {
  margin: 0 15px 0 0;
}

#footer {
  background-color: #4f4f4f;
}

#footer .footer-wraper {
  padding: 30px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#footer .footer-wraper .adress {
  text-align: left;
  color: #949494;
}

#footer .footer-wraper .copy {
  text-align: right;
  color: #949494;
}

@media (max-width: 1024px) {
  .nav-list {
    display: none;
  }
  #menu-toggle {
    display: block !important;
  }
  .work-wraper {
    display: grid;
    grid-auto-columns: auto;
    grid-template-rows: 200px 1fr;
    justify-items: center;
    align-items: center;
  }
  .work-wraper .work-content-top {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .work-wraper .work-content-body {
    grid-row: 2/3;
    grid-column: 1/2;
    display: grid;
    grid-auto-columns: auto;
    grid-auto-rows: auto;
  }
  .work-wraper .work-content-body .pillter {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .work-wraper .work-content-body .pillter img {
    width: 350px;
  }
  .work-wraper .work-content-body .touchmania {
    grid-row: 1/2;
    grid-column: 2/3;
  }
  .work-wraper .work-content-body .touchmania img {
    width: 360px;
  }
  .work-wraper .work-content-body .locate {
    grid-row: 2/3;
    grid-column: 1/2;
  }
  .work-wraper .work-content-body .locate img {
    width: 360px;
  }
  .work-wraper .work-content-body .umberapp {
    grid-row: 2/3;
    grid-column: 2/3;
  }
  .work-wraper .work-content-body .umberapp img {
    width: 360px;
  }
  .work-wraper .work-content-body .youtube {
    grid-row: 3/4;
    grid-column: 1/2;
  }
  .work-wraper .work-content-body .youtube iframe {
    width: 360px;
    height: 235px;
  }
  .work-wraper .work-content-body .pardio {
    grid-row: 3/4;
    grid-column: 2/3;
  }
  .work-wraper .work-content-body .pardio img {
    width: 360px;
  }
  .work-wraper .work-content-body .banadediki {
    grid-row: 4/5;
    grid-column: 1/2;
  }
  .work-wraper .work-content-body .banadediki img {
    width: 360px;
  }
  .work-wraper .work-content-body .bizcorner {
    grid-row: 4/5;
    grid-column: 2/3;
  }
  .work-wraper .work-content-body .bizcorner img {
    width: 360px;
  }
  .work-wraper .work-content-body .arabul {
    grid-row: 5/6;
    grid-column: 1/2;
  }
  .work-wraper .work-content-body .arabul img {
    width: 360px;
  }
  .contact-wraper .wraper-map-and-contact .map-wraper #map {
    height: 320px;
    width: 300px;
  }
  .contact-wraper .wraper-map-and-contact .contact-form-wraper .form-wraper textarea {
    padding: 25px 160px 0 30px;
  }
  .contact-wraper .wraper-map-and-contact .contact-form-wraper .form-wraper .input-wraper input[type="email"] {
    padding: 0 100px 0 30px;
  }
  .contact-wraper .wraper-map-and-contact .contact-form-wraper .form-wraper .input-wraper .btn-form-send {
    padding: 19px 35px;
  }
}

@media (max-width: 768px) {
  #header .container {
    width: 100%;
  }
  #header .container .header-wraper .logo-wraper {
    justify-self: center;
  }
  #header .container .header-wraper #menu-toggle {
    margin: 0 40px 0 0;
  }
  #work .container {
    width: 100%;
  }
  #work .container .work-wraper .work-content-top .work-content-title h1 {
    font-size: 30px;
  }
  #work .container .work-wraper .work-content-body .pillter {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  #work .container .work-wraper .work-content-body .touchmania {
    grid-row: 2/3;
    grid-column: 1/2;
  }
  #work .container .work-wraper .work-content-body .locate {
    grid-row: 3/4;
    grid-column: 1/2;
  }
  #work .container .work-wraper .work-content-body .umberapp {
    grid-row: 4/5;
    grid-column: 1/2;
  }
  #work .container .work-wraper .work-content-body .yuotube {
    grid-row: 5/6;
    grid-column: 1/2;
  }
  #work .container .work-wraper .work-content-body .pardio {
    grid-row: 6/7;
    grid-column: 1/2;
  }
  #work .container .work-wraper .work-content-body .banadediki {
    grid-row: 7/8;
    grid-column: 1/2;
  }
  #work .container .work-wraper .work-content-body .bizcorner {
    grid-row: 8/9;
    grid-column: 1/2;
  }
  #work .container .work-wraper .work-content-body .arabul {
    grid-row: 9/10;
    grid-column: 1/2;
  }
  #work .container .work-wraper .work-content-body #modal {
    display: none;
  }
  #team .container {
    width: 100%;
  }
  #team .container .team-wraper .team-content-top .team-content-title h1 {
    font-size: 30px;
  }
  #team .container .team-wraper .team-user-list {
    row-gap: 30px;
  }
  #team .container .team-wraper .team-user-list .lead-developer {
    grid-row: 1/2;
    grid-column: 1/2;
    margin: 0 60px;
  }
  #team .container .team-wraper .team-user-list .lead-developer:hover {
    transition: .2s ease-in;
    box-shadow: 0 0 3px 4px #ccc;
  }
  #team .container .team-wraper .team-user-list .lead-designer {
    grid-row: 2/3;
    grid-column: 1/2;
    margin: 0 60px;
  }
  #team .container .team-wraper .team-user-list .lead-designer:hover {
    transition: .2s ease-in;
    box-shadow: 0 0 3px 4px #ccc;
  }
  #team .container .team-wraper .team-user-list .marketing-director {
    grid-row: 3/4;
    grid-column: 1/2;
    margin: 0 60px;
  }
  #team .container .team-wraper .team-user-list .marketing-director:hover {
    transition: .2s ease-in;
    box-shadow: 0 0 3px 4px #ccc;
  }
  #team .container .team-wraper .team-user-list .business-director {
    grid-row: 4/5;
    grid-column: 1/2;
    margin: 0 60px;
  }
  #team .container .team-wraper .team-user-list .business-director:hover {
    transition: .2s ease-in;
    box-shadow: 0 0 3px 4px #ccc;
  }
  #contact .container {
    width: 100%;
  }
  #contact .container .contact-wraper .contact-title h1 {
    font-size: 30px;
  }
  #contact .container .contact-wraper .wraper-map-and-contact {
    row-gap: 30px;
  }
  #contact .container .contact-wraper .wraper-map-and-contact .map-wraper {
    grid-row: 1/2;
    grid-column: 1/2;
    margin: 0 60px;
  }
  #contact .container .contact-wraper .wraper-map-and-contact .map-wraper #map {
    width: 646px;
  }
  #contact .container .contact-wraper .wraper-map-and-contact .contact-form-wraper {
    grid-row: 2/3;
    grid-column: 1/2;
    margin: 0 60px;
  }
  #contact .container .contact-wraper .wraper-map-and-contact .contact-form-wraper form textarea {
    padding: 25px 0 0 0px;
    width: 646px;
  }
  #contact .container .contact-wraper .wraper-map-and-contact .contact-form-wraper form .input-wraper input[type="email"] {
    padding: 0 0 0 0px;
    width: 454px;
  }
  #contact .container .contact-wraper .wraper-map-and-contact .contact-form-wraper form .input-wraper .btn-form-send {
    padding: 0;
    width: 174px;
    height: 59px;
  }
  #footer .container {
    width: 100%;
  }
  #footer .container .footer-wraper {
    margin: 0 60px;
  }
}

@media (max-width: 425px) {
  .header-wraper .logo-wraper {
    justify-self: right;
  }
  .hero-wraper-sliders .slide-wraper .slide-content .title {
    font-size: 30px;
  }
  .hero-wraper-sliders .slide-wraper .slide-content .text {
    text-align: center;
  }
  .work-wraper .work-content-body .pillter {
    margin: 0;
  }
  .work-wraper .work-content-body .pillter img {
    width: 300px;
  }
  .work-wraper .work-content-body .touchmania {
    margin: 0;
  }
  .work-wraper .work-content-body .touchmania img {
    width: 300px;
  }
  .work-wraper .work-content-body .location {
    margin: 0;
  }
  .work-wraper .work-content-body .location img {
    width: 300px;
  }
  .work-wraper .work-content-body .umberapp {
    margin: 0;
  }
  .work-wraper .work-content-body .umberapp img {
    width: 300px;
  }
  .work-wraper .work-content-body .youtube {
    margin: 0;
  }
  .work-wraper .work-content-body .youtube iframe {
    width: 300px;
  }
  .work-wraper .work-content-body .pardio {
    margin: 0;
  }
  .work-wraper .work-content-body .pardio img {
    width: 300px;
  }
  .work-wraper .work-content-body .banadediki {
    margin: 0;
  }
  .work-wraper .work-content-body .banadediki img {
    width: 300px;
  }
  .work-wraper .work-content-body .bizcorner {
    margin: 0;
  }
  .work-wraper .work-content-body .bizcorner img {
    width: 300px;
  }
  .work-wraper .work-content-body .arabul {
    margin: 0;
  }
  .work-wraper .work-content-body .arabul img {
    width: 300px;
  }
  .team-wraper {
    grid-template-rows: 240px 1fr;
  }
  .team-wraper .team-user-list .lead-developer, .team-wraper .team-user-list .lead-designer, .team-wraper .team-user-list .marketing-director, .team-wraper .team-user-list .business-director {
    margin: 0 20px;
  }
  .contact-wraper .wraper-map-and-contact .map-wraper {
    margin: 0 20px;
  }
  .contact-wraper .wraper-map-and-contact .map-wraper #map {
    width: 305px;
    height: 200px;
  }
  .contact-wraper .wraper-map-and-contact .contact-form-wraper {
    display: none;
    margin: 0 20px;
  }
  .contact-wraper .wraper-map-and-contact .contact-form-wraper .form-wraper {
    display: grid;
    grid-auto-rows: auto;
    grid-auto-columns: auto;
  }
  .contact-wraper .wraper-map-and-contact .contact-form-wraper .form-wraper textarea {
    grid-row: 1/2;
    grid-column: 1/2;
    width: 305px;
    height: 140px;
  }
  .contact-wraper .wraper-map-and-contact .contact-form-wraper .form-wraper .input-wraper {
    grid-row: 2/3;
    grid-column: 1/2;
    display: grid;
    grid-auto-rows: auto;
    grid-auto-columns: auto;
  }
  .contact-wraper .wraper-map-and-contact .contact-form-wraper .form-wraper .input-wraper input {
    width: 305px;
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .contact-wraper .wraper-map-and-contact .contact-form-wraper .form-wraper .input-wraper .btn-form-send {
    grid-row: 2/3;
    grid-column: 1/2;
    width: 305px;
  }
}
/*# sourceMappingURL=styles.css.map */