

//@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


//font-family: 'Quicksand', sans-serif;

@font-face {
    font-family: 'Quicksand', sans-serif;
    src: url('../fonts/Quicksand-Bold.ttf');
    src: url('../fonts/Quicksand-Light.ttf');
    src: url('../fonts/Quicksand-Medium.ttf');
    src: url('../fonts/Quicksand-Regular.ttf');
    src: url('../fonts/Quicksand-SemiBold.ttf');
}
body {
    font-family: 'Quicksand', sans-serif;
}
.open {
    background-color: rgba( 0 , 0 , 0 , 0.7);
    width: 100%;
    height: 100%;

    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transition: .5s ease-in-out;
    z-index: 99999;
}
.popup {
    position: absolute;
    top: calc(50% - 150px);
    left: calc(50% - 300px);
    z-index: 99999;
    transition: 1s ease-in-out;
}
.close {
    display: none;
    border: none;
    color: #fff;
    font-size: 40px;
    background-color: transparent;

    position: relative;
    top: 20%;
    left: 73%;
}
.close:focus {
    outline: none;
}
.big-avatar {
    transform: scale(1.2) ; transition: .5s ease-in-out;
}
.networks {
    position: fixed;
    bottom: 50px;
    left: 50px;
    background-color: rgba( 0 , 0 , 0 , 0.7);
    border-radius: 5px;
    padding: 10px;
    &:focus {
        outline: none;
    }
}
.icons {
    position: fixed;
    left: 35px;
    bottom: calc(50% - 100px);
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 2px 2px #ccc;
    .close-icons {
        border: none;
        color: #fff;
        font-size: 20px;
        background-color: transparent;
    
        position: relative;
        top: -5px;
        right: -30px;
    }
    .close-icons:focus {
        outline: none;
    }
}
.infowindow-wraper {
    width: 200px;
    border-radius: 5px;
    border-radius: 5px;
   
    background-color: rgba(95, 95, 95, 0.7);
    box-shadow: 0 0 1px 10px #e0e4e3;
    .infowindow-title {
        font-size: 20px;
        text-transform: uppercase;
        text-align: center;
        padding: 6px 12px;
    }
    /*img {

    }*/
    .infowindow-text {
        font-size: 16px;
        background-color: royalblue;
        text-align: center;
        padding: 4px 10px;
    }
}
.toggle-list {
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 4px 3px #ccc;
    background-color: rgba(223, 211, 211, 0.7);
    padding: 20px;
    width: 100px;
    display: none;

    position: fixed;
    top: 120px;
    right: 3px;
    & li:not(:first-child) {
        margin: 20px 0 0 0;
    }
    li {

        a {
            text-decoration: none;
            text-transform: uppercase;
            color: #4c4c4c;
            font-size: 16px; 
        } 
    }
}
.open-media-menu {
    display: block;
}
#header {
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #fff;
    box-shadow: inset 0 0 3px 3px #ccc;
    .header-wraper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        .logo-wraper {
            grid-column: 1/2;
            padding: 30px 0;
            a {
                color: #4c4c4c;
                font-size: 25px; 
            }

        }
        .nav-wraper {
            grid-column: 2/-1;
            justify-self: flex-end;
            align-self: center;
            .nav-list {
         
                li {
                    display: inline-block;
              
                    a {
                        color: #4c4c4c;
                        font-size: 16px;
                        text-transform: uppercase;
                        padding: 30px 0
                    }

                }
                li:not(:last-child) {
                    margin: 0 70px 0 0;
                }
          
            }
            #menu-toggle {
                display: none;
                border: none;
                background-color: transparent;
        
                span::before {
                    content: '\2807';
                    font-size: 2rem;
                    color: #4c4c4c;
                }
    
            }
            #menu-toggle:focus {
                outline: none;
            }
       
        }

    }

}
.hero-wraper-sliders {
    position: relative;
    .slide-wraper {
        width: 100%;
        display: none;
        .slide-content {
            display: grid;
            grid-auto-columns: auto;
            grid-auto-rows: auto;
            img {
                grid-row: 1/3;
                grid-column: 1/2;
                width: 100%;
                height: 540px;
            }
            .title {
                grid-row: 1/2;
                grid-column: 1/2;
                font-size: 40px;
                text-transform: uppercase;
                font-weight: 700;
                justify-self: center;
                align-self: center;
            }
            .text {
                grid-row: 2/3;
                grid-column: 1/2;
                font-size: 16px;
                justify-self: center;
                align-self: flex-start;
            }
            
        }

    }
    .btn-slide {
        position: absolute;
        bottom: 50px;
        left: calc(50% - 25px);
        width: 50px;
        height: 50px;
        border: none;
        border-radius: 50%;
        box-shadow: 0 0 5px 5px #ccc;
    }
    .btn-slide:focus {
        outline: none;
    }
}
.slide-wraper.active {
    display: block;
}
.work-wraper {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 200px 1fr;
    margin: 0 0 70px 0;
    .work-content-top {
        grid-row: 1/2;
        grid-column: 1/2;
        
        display: grid;
        grid-template-columns: auto;
        grid-auto-rows: auto;
        .work-content-title {
            grid-row: 1/2;
            grid-column: 1/9;
            text-align: center;
            font-size: 30px;
            margin: 50px 0 0 0;
            h1 {
                padding: 0 0 20px 0;
            }
            h1::after {
                content: '';
                height: 4px;
                width: 300px;
                display: block;
                background-color: #000;
                margin: 20px auto 0 auto;
            }

        }
        .work-content-text {
            grid-row: 2/3;
            grid-column: 1/9;
            text-align: center;
            line-height: 20px;
            font-size: 16px;
            margin: 35px 0 0 0;
        }

    }
    .work-content-body {
        grid-column: 1/2;
        grid-row: 2/3;

        display: grid;
        grid-auto-rows: auto;
        grid-auto-columns: auto;
        row-gap: 50px;
        column-gap: 50px;
        margin: 60px 0 0 0;
        .pillter {
            grid-column: 1/2;
            grid-row: 1/2;
            align-self: center;
            justify-self: center;
           
            img {
                width: 300px;
                box-shadow: 0 0 4px 1px #ccc;
            }

        }
        .touchmania {
            grid-column: 2/3;
            grid-row: 1/2;
            align-self: center;
            justify-self: center;

            img {
                width: 300px;
                box-shadow: 0 0 4px 1px #ccc;
            }

        }
        .locate {
            grid-column: 3/4;
            grid-row: 1/2;
            align-self: center;
            justify-self: center;

              img {
                width: 300px;
                box-shadow: 0 0 4px 1px #ccc;
            }

        }
        .umberapp {
            grid-column: 1/2;
            grid-row: 2/3;
            align-self: center;
            justify-self: center;

              img {
                width: 300px;
                box-shadow: 0 0 4px 1px #ccc;
            }

        }
        .youtube {
            grid-column: 2/3;
            grid-row: 2/3;
            align-self: center;
            justify-self: center;
            box-shadow: 0 0 4px 1px #ccc;
        }
        .pardio {
            grid-column: 3/4;
            grid-row: 2/3;
            align-self: center;
            justify-self: center;

              img {
                width: 300px;
                box-shadow: 0 0 4px 1px #ccc;
            }

        }
        .banadediki {
            grid-column: 1/2;
            grid-row: 3/4;
            align-self: center;
            justify-self: center;
              img {
                width: 300px;
                box-shadow: 0 0 4px 1px #ccc;
            }

        }
        .bizcorner {
            grid-column: 2/3;
            grid-row: 3/4;
            align-self: center;
            justify-self: center;

              img {
                width: 300px;
                box-shadow: 0 0 4px 1px #ccc;
            }

        }
        .arabul {
            grid-column: 3/4;
            grid-row: 3/4;
            align-self: center;
            justify-self: center;

              img {
                width: 300px;
                box-shadow: 0 0 4px 1px #ccc;
            }

        }

    }

}

#team {
    background-color: #f3f3f3;
}
.team-wraper {
    display: grid;
    grid-template-rows: 180px 1fr;
    row-gap: 60px;
    .team-content-top{
        grid-row: 1/2;
        margin: 50px 0 0 0;

        display: grid;
        grid-auto-rows: auto;
        grid-auto-columns: auto;
        justify-items: center;
        .team-content-title {
            grid-column: 1/9;
            grid-row: 1/2;
            h1 {
                text-align: center;
                font-size: 30px;
                padding: 0 38px 20px 38px;
            }
            h1::after {
                content: '';
                height: 4px;
                width: 180px;
                display: block;
                background-color: #000;
                margin: 20px auto 0 auto;
            }

        }
        .team-content-text {
            grid-column: 1/9;
            grid-row: 2/3;
            margin: 30px 0 0 0;
            p {
                font-size: 16px;
                line-height: 20px;
                text-align: center;
            }

        }

    }
    .team-user-list {
        grid-row: 2/3;
        margin: 30px 0 80px 0;

        display: grid;
        column-gap: 20px;
        grid-auto-columns: auto;
        grid-auto-rows: auto;
        .lead-developer {
            grid-row: 1/2;
            grid-column: 1/2;
        }
        .lead-designer {
            grid-row: 1/2;
            grid-column: 2/3;
        }
        .marketing-director {
            grid-row: 1/2;
            grid-column: 3/4;
        }
        .business-director {
            grid-row: 1/2;
            grid-column: 4/5;
        }
        .lead-developer , .lead-designer , .marketing-director , .business-director {
            background-color: #fff;
            box-shadow: 0 0 4px 1px #ccc;

            display: grid;
            grid-auto-rows: auto;
            justify-items: center;
          
            .lead-developer-avatar , .lead-designer-avatar , .marketing-director-avatar , .business-director-avatar {
                width: 85px;
                height: 85px;
                border-radius: 50%;
                background-color: #ededed;
                margin: 20px 0 0 0;
            }  
            .name-developer , .name-designer , .name-marketing-director , .name-business-director {
                font-size: 16px;
                font-weight: bold;
                margin: 15px 0 0 0;
            }
            .job-developer , .job-designer , .job-marketing-director , .job-business-director {
                font-size: 12px;
                font-style: italic;
                margin: 20px 0 0 0;
            }
            .list-developer , .list-designer , .list-marketing-director , .list-business-director {
                display: flex;
                margin: 25px 0 20px 0;
                li:not(:last-child) {
                    margin: 0 20px 0 0;
                }
       
            }

        }

    }

}

.contact-wraper {
    display: grid;
    grid-auto-rows: auto;
    grid-auto-columns: auto;
    .contact-title {
        grid-row: 1/2;
        grid-column: 1/2;
        margin: 50px 0 0 0;
        h1 {
            font-size: 30px;
            text-align: center;
        }
        h1::after {
            content: '';
            height: 4px;
            width: 180px;
            display: block;
            background-color: #000;
            margin: 20px auto 0 auto;
        }

    }
    .wraper-map-and-contact {
        grid-row: 2/3;
        grid-column: 1/2;
        margin: 50px 0 75px 0;

        display: grid;
        grid-auto-rows: auto;
        grid-auto-columns: auto;
        column-gap: 40px;
        .map-wraper {
            grid-row: 1/2;
            grid-column: 1/2;
            .map-title {
                font-size: 16px;
            }
            #map {
                margin: 30px 0 0 0;
                height: 325px;
                width: 450px;
                box-shadow: 0 0 4px 1px #ccc;
            }

        }
        .contact-form-wraper {
            grid-row: 1/2;
            grid-column: 2/3;
            .form-title {
                font-size: 16px;
            }
            .form-wraper {
                margin: 30px 0 0 0;
                textarea {
                    height: 220px;
                    padding: 25px 270px 0 30px;
                    border: none;
                    font-size: 16px;
                    box-shadow: 0 0 4px 1px #ccc;
                    resize: none;
                    overflow-y: auto;
                }
                textarea:focus {
                    outline: none;
                }
                textarea::-webkit-scrollbar {
                    width: 30px;
                }
                textarea::-webkit-scrollbar-track {
                    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                }
                textarea::-webkit-scrollbar-thumb {
                    background-color: #ccc;
                }
                .input-wraper {
                    input[type="email"] {
                        height: 60px;
                      
                        padding: 0 200px 0 30px;
                        border: none;
                        box-shadow: 0 0 4px 1px #ccc;
                        margin: 15px 0 0 0;
                    }
                       input[type="email"]:focus {
                           outline: none;
                       }
                    .btn-form-send {
                        font-size: 16px;
                        font-weight: 500;
                        text-transform: uppercase;
                        color: #fff;
                        background-color: #6995a9;
                        padding: 19px 45px;
                        border: 2px solid #fff;
                        box-shadow: 0 0 4px 1px #ccc;
                        margin: 15px 0 0 15px;
                        img {
                            margin: 0 15px 0 0;
                        }

                    }

                }

            }

        }

    }

}

#footer {
    background-color: #4f4f4f;
    .footer-wraper {
        padding: 30px 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        .adress {
            text-align: left;
            color: #949494;
        }
        .copy{
            text-align: right;
            color: #949494;
        }

    }

}

@media(max-width: 1024px) {
    .nav-list {
        display: none;
    }
    #menu-toggle {
      display: block !important;
    }
    .work-wraper {
        display: grid;
        grid-auto-columns: auto;
        grid-template-rows: 200px 1fr;
        justify-items: center;
        align-items: center;
        .work-content-top {
            grid-row: 1/2;
            grid-column: 1/2;
        }
        .work-content-body {
            grid-row: 2/3;
            grid-column: 1/2;

            display: grid;
            grid-auto-columns: auto;
            grid-auto-rows: auto;
            .pillter {
                grid-row: 1/2;
                grid-column: 1/2;
                img {
                    width: 350px;
                }
            }
            .touchmania {
                grid-row: 1/2;
                grid-column: 2/3;
                img {
                    width: 360px;
                }
            }
            .locate {
                grid-row: 2/3;
                grid-column: 1/2;
                  img {
                    width: 360px;
                }
            }
            .umberapp {
                grid-row: 2/3;
                grid-column: 2/3;
                  img {
                    width: 360px;
                }
            }
            .youtube {
                grid-row: 3/4;
                grid-column: 1/2;
                  iframe {
                    width: 360px;
                    height: 235px;
                }
            }
            .pardio {
                grid-row: 3/4;
                grid-column: 2/3;
                  img {
                    width: 360px;
                }
            }
            .banadediki {
                grid-row: 4/5;
                grid-column: 1/2;
                  img {
                    width: 360px;
                }
            }
            .bizcorner {
                grid-row: 4/5;
                grid-column: 2/3;
                  img {
                    width: 360px;
                }
            }
            .arabul {
                grid-row: 5/6;
                grid-column: 1/2;
                  img {
                    width: 360px;
                }
            }

        }

    }
    .contact-wraper {

        .wraper-map-and-contact {

            .map-wraper {

                #map {
                    height: 320px;
                    width: 300px;
                }
            }
            .contact-form-wraper {

                .form-wraper {

                    textarea {
                        padding: 25px 160px 0 30px;
                    }
                    .input-wraper {

                        input[type="email"] {
                            padding: 0 100px 0 30px;
                        }
                        .btn-form-send {
                            padding: 19px 35px;
                        }

                    }

                }

            }

        }

    }     

}
@media(max-width: 768px) {
    #header {

        .container {
            width: 100%;
            .header-wraper {

                .logo-wraper {
                    justify-self: center;
                }
                #menu-toggle {
                    margin: 0 40px 0 0;
                }
            }
        }
    }
    #work {

        .container {
            width: 100%;
            .work-wraper {

                .work-content-top {

                    .work-content-title {

                        h1 {
                            font-size: 30px;
                        }

                    }

                }
                .work-content-body {

                    .pillter {
                        grid-row: 1/2;
                        grid-column: 1/2;
                    }
                    .touchmania {
                        grid-row: 2/3;
                        grid-column: 1/2;
                    }
                    .locate {
                        grid-row: 3/4;
                        grid-column: 1/2;
                    }
                    .umberapp {
                        grid-row: 4/5;
                        grid-column: 1/2;
                    }
                    .yuotube {
                        grid-row: 5/6;
                        grid-column: 1/2;
                    }
                    .pardio {
                        grid-row: 6/7;
                        grid-column: 1/2;
                    }
                    .banadediki {
                        grid-row: 7/8;
                        grid-column: 1/2;
                    }
                    .bizcorner {
                        grid-row: 8/9;
                        grid-column: 1/2;
                    }
                    .arabul {
                        grid-row: 9/10;
                        grid-column: 1/2;
                    }
                    #modal {
                        display: none;
                    }

                }

            }

        }

    }
    #team {

        .container {
            width: 100%;
            .team-wraper {

                .team-content-top {

                    .team-content-title {

                        h1 {
                            font-size: 30px;
                        }
                    }
                }
                .team-user-list {
                    row-gap: 30px;
                    .lead-developer {
                        grid-row: 1/2;
                        grid-column: 1/2;
                        margin: 0 60px;
                    }
                    .lead-developer:hover {
                        transition: .2s ease-in ; box-shadow: 0 0 3px 4px #ccc;
                    }
                    .lead-designer {
                        grid-row: 2/3;
                        grid-column: 1/2;
                        margin: 0 60px;
                    }
                    .lead-designer:hover {
                        transition: .2s ease-in ; box-shadow: 0 0 3px 4px #ccc;
                    }
                    .marketing-director {
                        grid-row: 3/4;
                        grid-column: 1/2;
                        margin: 0 60px;
                    }
                    .marketing-director:hover {
                        transition: .2s ease-in ; box-shadow: 0 0 3px 4px #ccc;
                    }
                    .business-director {
                        grid-row: 4/5;
                        grid-column: 1/2;
                        margin: 0 60px;
                    }
                    .business-director:hover {
                        transition: .2s ease-in ; box-shadow: 0 0 3px 4px #ccc;
                    }

                }

            }

        }

    }
    #contact {

        .container {
            width: 100%;
            .contact-wraper {

                .contact-title {

                    h1 {
                        font-size: 30px;
                    }
                }
                .wraper-map-and-contact {
                    row-gap: 30px;
                    .map-wraper {
                        grid-row: 1/2;
                        grid-column: 1/2;
                        margin: 0 60px;
                        #map {
                            width: 100%;
                        }
                    }
                    .contact-form-wraper {
                        grid-row: 2/3;
                        grid-column: 1/2;
                        margin: 0 60px;
                        textarea {
                            width: 71%;
                        }
                        .input-wraper {

                            input[type="email"]{
                                width: 50%;
                            }
                            .btn-form-send {
                                padding: 19px 47px;
                            }

                        }

                    }

                }

            }

        }

    }
    #footer {
        
        .container {
            width: 100%;
            .footer-wraper {
                margin: 0 60px;
            }
        }
    }
}